body {
    margin: 0;
}
.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid red; */
}

table {
    width: 40vw;
    height: 40vw;
    max-width: 500px;
    max-height: 500px;
    border-spacing: 0;
    /* table-layout: fixed; */
}

td {
    width: 10%;
    height: 10%;
    border: 1px solid gold;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    padding: 5px;
    /* background-color: grey; */
    background-color: rgb(101, 53, 64);
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    font-family: sans-serif;
    width: 15vw;
    max-width: 150px;
    padding: 0 10px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 15px;
    font-size: large;
    border: none;
    background-color: rgb(69, 60, 148);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}

section{
    position: relative;
}

.line {
    width: 40vw;
    max-width: 500px;
    height: 10px;
    background-color: pink;
    position: absolute;
    transform-origin: left;
    display: none;
}

/* .line:nth-of-type(0), .line:nth-of-type(1), .line:nth-of-type(0), .line:nth-of-type(1) {
    background-color: yellow;
    top: 0;
} */

.line:nth-of-type(2), .line:nth-of-type(3), .line:nth-of-type(8), .line:nth-of-type(9) {
    /* background-color: green; */
    transform-origin: top left;
}

.line:nth-of-type(4), .line:nth-of-type(10){
    max-width: none;
    top: 0;
    background-color: violet;
    transform-origin: left;
    transform: translateY(-50%) rotate(45deg);
}

.line:nth-of-type(5), .line:nth-of-type(11){
    max-width: none;
    bottom: 0;
    /* background-color: orange; */
    transform: translateY(50%) rotate(-45deg);
}


@media screen and (max-width : 600px) {
    .container {
        flex-direction: column;
    }
    .info {
        width: 80vw;
        max-width: none;
        padding: 10px 10px;
        flex-direction: row;
        justify-content: center;
    }
    table {
        width: 70vw;
        height: 70vw;
    }
}
