body {
    font-family: 'Arial', sans-serif;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: grey;
}

h3, h1 {
    margin: 0;
    padding: 15px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    /* max-width: 500px; */
    padding: 16px;
    background-color: rgb(55, 53, 53);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calculator input {
    grid-column: span 4;
    padding: 8px;
    font-size: 1.5em;
    text-align: right;
    border: none;
    outline: none;
    border-radius: 4px;
    color: white;
}

.calculator button {
    padding: 12px;
    font-size: 1.2em;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: grey;
    color: white;
}

.calculator button.operator {
    background-color: #f2a154;
}

.calculator button.double {
    grid-column: span 2;
}

.main {
    /* border: 5px solid red; */
    max-width: 500px;
    background-color: rgb(55, 53, 53);
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
}
